@layer base {
  * {
    @apply border-border outline-ring/50;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) transparent;

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 9999px;
    }
  }

  body {
    @apply bg-background text-foreground;
  }

  input {
    @apply [&::-webkit-search-cancel-button]:hidden [&::-webkit-search-decoration]:hidden;
  }

  button,
  [type="button"],
  [type="submit"],
  [type="reset"],
  [role="button"] {
    @apply cursor-pointer;
  }
}

body {
  @apply m-0;
  font-family:
    "JetBrains Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.noto-color-emoji {
  font-family: "Noto Color Emoji", sans-serif;
  font-weight: 400;
  font-style: normal;
}
